<h1>Risk Registry</h1>

<button mat-raised-button color="primary" (click)="openCreateRiskDialog()">Create Risk</button>
<button mat-raised-button color="primary" routerLink="/controlobjectives">View Controls & Objectives</button>



<table mat-table [dataSource]="risks" class="mat-elevation-z8">
  
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let risk"> {{ risk.title }} </td>
  </ng-container>

  
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let risk"> {{ risk.description }} </td>
  </ng-container>


  <ng-container matColumnDef="likelihood">
    <th mat-header-cell *matHeaderCellDef> Likelihood </th>
    <td mat-cell *matCellDef="let risk"> {{ risk.likelihood }} </td>
  </ng-container>

  
  <ng-container matColumnDef="impact">
    <th mat-header-cell *matHeaderCellDef> Impact </th>
    <td mat-cell *matCellDef="let risk"> {{ risk.impact }} </td>
  </ng-container>

  
  <ng-container matColumnDef="riskScore">
    <th mat-header-cell *matHeaderCellDef> Risk Score </th>
    <td mat-cell *matCellDef="let risk"> {{ risk.riskScore }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let risk">
      <button mat-button color="primary" (click)="openEditDialog(risk)">Edit</button>
      <button mat-button color="warn" (click)="deleteRisk(risk._id)">Delete</button>
      <button mat-button color="accent" (click)="openLinkControlObjectiveDialog(risk)">Link Control Objective</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['title', 'description', 'likelihood', 'impact', 'riskScore', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['title', 'description', 'likelihood', 'impact', 'riskScore', 'actions'];"></tr>
</table>
